---
layout: default
---
  <div id="slides">

  </div>
  <div id="mission">
    <b>Mission:</b><br>
    We study <b>gamification</b> mechanisms that could enhance design activities, and discover
    the computational, social and psychological principles underlying successful design gamification.
    Specifically, we investigate potential connections among design challenges, human-comprehensible
    tasks and incentive mechanisms, and address challenges in Mechanism Design, Large-scale Crowdsourcing,
    Learning from Imperfect Solutions, and Human Cognition and Creativity Modeling. Key real-world
    applications include <b>Engineering and Industrial Design Education</b>,
    <b>Design Solution Crowdsourcing</b>, and solving computationally hard <b>Design Optimization</b> Problems.
  </div>

  <div id="news">
    <b>News:</b><br>
    {% for post in site.posts %}
      {% if post.categories contains 'workshop' %}
        <a href="{{ post.url }}">[{{post.date | date: "%b %-d, %Y"}}]  {{ post.title }}</a><br>
      {% endif %}
    {% endfor %}
  </div>

